body { 
  font-family: "PT Sans-serif", "Helvetica", "Arial";
  font-size: 14px;
  background: #E4F6F8;
  color: #010101; 
}

.main {
  width: 600px;
  margin: 50px;
}

.footer-links {
  margin-top: 25px;
}

.cv-list {
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.cv-list-item {
  margin-bottom: 10px
}
